[flake8]
max-line-length = 79
ignore =
    E203,  # Не совместим с PEP8 для срезов
    E266,  # Избыточные комментарии
    W503,  # Разрешение "оператор перед"
exclude =
    __pycache__,
    venv,
    .git
